Source: meabook
Section: user/office
Priority: optional
Maintainer: Max Usachev <maxusachev@gmail.com>
Build-Depends: debhelper (>= 5), python2.5, python-setuptools | python2.5-setuptools
Standards-Version: 3.8.0

Package: meabook
Homepage: https://garage.maemo.org/projects/meabook/
Architecture: all
Depends: python2.5, python2.5-gtk2, python-osso | python2.5-osso | python-gtk2, python2.5-hildon | python-hildon, python-dbus | python2.5-dbus
Description: Enterprise address book
XB-Vcs-Browser: http://vcs.maemo.org/git/meabook/
XB-Maemo-Display-Name: Meabook
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
 /wD/oL2nkwAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB9oGGAgTKtHbxsUAABA2SURBVGje
 3Vp5lBXVmf9991bVe72vbE1js7ohS8jiKIlERU1Q0YhIPBPiQtScOUEnMcbRRGPCJAonGnXUmeMk
 cUPFKCooIigaUDQQQFvtBumG7obel9dvrbdU1f3mj/te93vdzTp/zdQ51fW669ZX9/etv+97Dfx/
 OK7+gzqudfOW7wIArHr9+Nbf/vTR1614hY9LzpJVR5ZDmQ/XPOhtVwrjh95mZnhOXPW3f37f1sfP
 eTb77gsf8PymbnV5V1DNiMRRwSxihoF95QXi7ZVLsZaIvGWPe9h9kPDpg+KIm1iznc9u7lZXdgUx
 Jxzn0a4HRwpuLC0w3jvvDPXClWdLGwAuXqGw+R4xMoCv3uE1pzyqoSHCGQwvEVSxtg+Xt6y74olH
 N6hx/TFcf7hP/bq2mXx2kiGEALPWJhFAYJQVipRl8D29Qec/P3nIHwGARzYo3Hap3sB/bfLKO0O4
 uieE3+9pQkXYBoQA0mJAAIQgFOcx8n30UDDqrtyx0uoGgNk/V/j0DyIXwNfv9JpTLtXQEATMzCoZ
 Yrd3+21Lr1nAuw/gF20BnBJJAIYAEw19Qj/DDCICJHm7vHjfbbWPj/sofQ+r1uHaT5vU3S09fFYo
 TpAEFiIDf4gcgACGKbg1Zfff8vnjo9+atngDGl6+9LgAMABSbkJVlyYCYbe0JGSzKQhMBPDAz+yn
 mPVGOG0UJpUM708G9y/Zv/qfPr1rtfvQh/vox+E48gBw+lFKr82RlZGUtgupVMxxIk3f3PvUrJ1T
 l7yHxpcuyAXgeKgZrk2kfUMQwWNAUBpXFsbMB6Lc30EAMSuXnMihVxecO65p58G8nwZjioTIlpN9
 HRAw7AZIULLvy2i44cUxbR/8xq6e/8QggLm/9JpT7jAATKRNqIEIEIGYFQis/Z6EFi8Ea0UNgMv8
 YCaCT6QIBCRdk4kIzExEWgYrBSFkZrEGQQwCUdqLtF0YDCGof/9rqxvWXrUUAIzMTk1J2drMDXIG
 gwRBJRHr/TIY6/7iTWbeCpI2lHumr3jcVQVj55xh+suyLZFBQoBihgkG2DS0Wezuz+PR3n1vspd8
 j6QZgudOlv6SxSUT5p5l+MskQMycUaD2MoCJobis5lvfGTvruomdtc80ZwHgtLF4SIJiZibynLDX
 17BxfcP7K5a6gfrYEKC/mnLxH5dVnnbZyryyyRUgpXRYDliEQFqim4xR4MDmt7vqXryht35t5xA5
 v6uZd98Vo6df/R/5ladOAEsmQQwGAUyZqDD8BcVlE8/7ZmftM80DSdUyGKZkWAbBNAArfZqSYFKS
 kz21a/euvfYqN1AfO+WClTlvnXLJIziw+ad/TvZ+fqtwg0lLCjINBdPIyGOYktkUHuzuPRtjnXuW
 9Nav7Zx04f05cmq+vQItW+9bZ3fu+pFwIn2WAdJ7YpgGYBpEpv5s5ZfVTASAAQBGZsMGw5d5qcFs
 GSCJBLMT+TCz9tB7d+a8+MCm2wAA+eWTNwtO7faZIMsAZ+RYBsEyQIZUruTkDiOv3J48fxWattyV
 I6flb/cAAOpevX6zQOoLa0AB4IxCfQbBZ0kUj5ooh8WALkLpaGECEZFSDGEAhhR0rJJfPXFqJOX5
 60moc8FETNnOKKA8kGlZhf6CcvritRuPKquwpHwfEc3TzifAYO1FxCCWEAVlyAFgGQTyWGeX7OgV
 gOtpCx3rmDK+gFu62XO9tAzWaSxNSsBEJKWQluU7pqwCv+m6XjoRpAsC6+Skr6bMBSBFOsPzcC4E
 AZICx7QAlIIUpDM8D0/jEIAhQIZBx5QlBQTp/IzBZJBJKwSSyAXQ3scYU8bwGdBBr3ekFxuAIY5t
 AcclmAYEWCfOoS8GMwxJJIQ8pixTgpRAlgwaVAYzhMfICeJgnNDUTbBTBJ8OOphSXw2pz8zx7NZc
 evvnLWlhBsgUIEMAlsycBEsSzPRnKZjEcSjDkCBTnzoTSoYlGZYETAkYBuVaQBDDThIaOxkTRzFG
 lxAMwXCVXiWyOMoP5wm8W6cs5bBx8WxpL7tQ35KsIKUUAgqKh1ENgBlSEMljO6N2ocFaPsDzCIBi
 ArtDXChzuB7wZTshEleYUAkU+bULmUZG26o6nsKy3V+6sx0P1r1rvOZgVK1/9EfmJo8kDMlkCIKn
 aDhfUqRdSBKe3arIcXlWNEEXJ1I8IeVRPJGifQcPtb/84r+Nj/jSccIYoelhgCSPDICIYEhGZ4gQ
 soExJcCYAoCg1PPbuSIc8d7oDaZmt7ceDjuuY5dVVi0wyFq66K4dt636AT11+zNKGoIhxTCKDRLa
 Nbauf8e77p8XXRKyxRPBUGRSOBRKGJbP78uvQKHlfA/AQjGCjIGkkrVzcaRGjUBIOISWXmDPQeLG
 tqTdGcC1PWHMPty8v6390N6zuzta5nS1HXgqP99XVFpadNPp834ySgooHT+cdWaqOuts1vPfXn9M
 PNDXH51UX7tjY33tR7P21+9aHrdD0crKUfPP/f7D88y0rw/GgPYCn6llG5KOBiDdWaU9IOWCowl4
 Oxu8r+06wOjqdzbu27m2CVMWdJSNP+utPL8Rz/P7qqsmzpxkCpCZdrl0+c86AQF2/7jeHtPS3CTb
 mz8LJhOxVZufXLK/svrra3z+whbTIKu8bNRUQUyZTWtaAphSwZADlX1kFzoKIGoLiNJg1IEXMg81
 7ngu2bjjOdz9PAeY4ZmG8BcWleWZEuQzCK43tC8CIAimQdYndYfDga6G6wM93e5XppUcfOVjHtsT
 QUVfyJNgIsuyDNOAsMzMo5RLMJkHdn7cAFjzfxKCUDqqat71j6kUEdHBbkzsi8L0OUY4FHOTSQVV
 SAy/n6CYoJjhqUxrx5BSyEBXg3rz4ct2P79N/dBO4c7+GCZZEiUFfjExmQJLSWRIEqZkjETy9aCB
 TwxABgaRRDQh59XuPTQXBGLFKuXKlBPtUKnuLnvPQQoYRCgtIJQVMsrygeICncdJ6YK47uHLki98
 4N3vuHxn3I5TW2tzJB5PBcadMhV+y4QkQAqQJTX9GWwt0qpkgOUJWkCAwBAAu7D7m59KRbufBklm
 Zk45KYdTkWTN+JrmUAwqmgAO9elC5rMIPoORbxGK/MSB7lTw31/oGXewCzc58TC1Nn22vq8vcD+E
 mRo/afqLUqppUhcw4TN1wwdNLHX3BkB5gJJ04i7kuOwBBCHNjubXvvsxAF7+Fy73GZhvR8ORjrbG
 1k6lOZUQgKsIboIRAyGQ7krC7algZWfRzKYeNuOhYEv8cOO9X76xrHbF61z0jwYvwkpxa7sTt1rR
 7ypgkARrhqwY8DwgGT/RIIbgpB1tFb4iMKsKFJwpEat3wzE1pyMkVtuBUFOg4e9XlsyYo7Iz2QCv
 5czJqqUH+QkHRspBfyQS6QcACxjV3o/8cAwq2Oc51EbRWJLSvjO8+WcHR0+jQ/fPQshkuHmzlwjC
 Kppw0eV3/WPhz5725jOJG3tDMLt6esOx9o97skc1IwoS0gh0NR32PDchfMWTa2YvPH/lOp6+vyV0
 Cyt3ipSCiUhbUccCpKCcq8hK8eI41Q8hpBXv3L0p1rnzZTfRf2ognvfXLw6LDXWNvdeGW7f3pwL1
 v2/Zvbo3HSgj1hV9Fb69fzljl92xcxuRUcx5k57cUqs+/Lxu3+JIqJeVEzfZS+YzH9/c1BjkQAKu
 l6s+To/3XJfguuBDm250is68eWn5lPnP2F17pjPDR0SHHbvvo/YtP95/y2Ou2NOq2FMEpXj4hIwZ
 SikA4yjYsvVm1+7+e8wsnNHh2B1OIvS8ld9RDaWqoh271nt8w62u56XTxzAqBOUNAXDhjDVwXTXU
 ARgAeUkb/dUFc5Ln8eK2PkUlhSJVXYEGAOQpKM/DDPfyZV9xBehbp/E0gKEUGJQljcFEgsLjTzk9
 PvfQ9w3TcH0GGuAmDpHhd5MeJksBJQS6wvZVX6sq9c7wmwxDMGKJzIhxsA44CYW92f6aSBU1A8kR
 JnPEzISHN6x036+7VS2Y46G1h7DjAKCyhnDMgCEI/3IJjMXnQLhqeCx4ivnlj0g9+S65IJV5PWdm
 aJntROLgXy0is6IoJoIxhYtm5pPPHPR2VoxoLHrfqIrS32Q19UkQpYaNFYlAigmxJBn5PtC/Xiqw
 rR7YUjdY1XXHC0gCXI9ZSiIhNInPTHmZmQUJcjwWkQT7BIkjTfoRjevpw5/eDaOuNYmZNT6eOnaw
 i1BKE8QhaZRG5D85CYQyA4Cs1TmUnzE4jtVz0kwBGlhJRATOnUMPnaWls4zjASk3d3NDg/sEqcSg
 1uMpwE5q0Xkm4LeQ08ALQQNJLjPY9BTnkDM7CUQTuuh5Csi3gEJ/buYaHOboZ0X6D5m/nxQAIYAl
 c4Hzp+sO7r064I1d2pEEASmH8dePInh1ZxShuEJpnsDV5xTiqrMLIcTg4OYH5wHXnAOUFwKxpJbx
 3DaA1cgdSnfEw1t7YlBK4RuTvBMqZDnHrBrgvDOBrhBwejXw2yXATRcCSVcr94UPw3jg9X7UVJq4
 +cJiFOUJ3LumD6u3hcEAonHCTfOBexYBnUHgT1uAjiCwfAFwx8LBNjjbxRQzHn87iBWv9CGeZEwb
 a568BdoCwD0vApEE8L1vAL9cBMyqYVQWE1p6HNS12qgsFrh9YRmqKwxUV5jY2ZDE3+rimFFTiNGl
 BubPAHojwJPvALsOAvs7gNOqgG9PBwp9g2HBAPJ9hI2f2FizPYxL5xTgpouKkYjHTt4C3WEdAwJA
 Z792I59J8BlAPMUI2Qr5FqE4TxflIr9Avg8I2wqOC5TkAX4TCMeBaFLThVBMx4SUQJ4vez5EaOxw
 cd/LfTil0sTdi8phCBqw0EkBOMKgYEg+o1waQQQeYX32NH8kEpVnER7d2I94knHJ7HyMLpZ61MX8
 vwBwEgcN+SKKRtDAsK8mANhJxh1XlMMwgDd3xxC01UBQnzQAnzlsaJjWCiAlwTIInmI9XiSdIlMe
 w2cSpAQSDuCmuzMpdEWXmekfAyknp3pjfLnEr6+uQGufi1XrApByUAMnBWDaOGBmjc7F06qgfT8J
 hOLA+DKJU6tMtAY8vFNro7nbwbZ6G4GIh+kTfCgtEDjcB7T2ARMqgbmnA5NH6+AdUwq09AKReK6F
 EinGZV8twEUzC7D24xg27IqipECceBbKFA+lgEdu0BovztNafOczRsQmFPgFfvKdUuxtdXHvS30o
 9BP6Y4zzz8rHLfOLsalWwG8CD7wGVBQBP18ILP+utmpTF3DvGm0xIiCeUogmFBh6PHPLxSXY2RjH
 714NwEJeLgAiiKNRcCmA5h7guscYgQgQtoELZmqT72gEDnYRCvwMzwOqyk289osqdAZd9EUUxpYI
 VBQbcD2GqxiG1Kl48YNAVRkwqhjoiQAdAf09hBBA0AYeuWEU4inGhAoDzMDsiT689LNxSKY8JBIx
 ygHAzA8RoeRI1EFrBNjZQBDprui5rfq+3wR8Bqe/E1AABFgxxpZKjC2VOS2lDhYCCcAioDMEtPVr
 BRlycIjuesCUsaYmiko/qBQwdawFQFEs4rw/GCie+X/yv2yCwSD+B+8uC8bqtHQzAAAAAElFTkSu
 QmCC
