Source: diabetto
Section: user/utils
Priority: optional
Maintainer: Max Usachev <maxusachev@gmail.com>
Build-Depends: debhelper (>= 5), python2.5, python-setuptools | python2.5-setuptools
Standards-Version: 3.8.0

Package: diabetto
Architecture: all
Depends: python2.5, python2.5-gtk2, python-osso | python2.5-osso | python-gtk2
Description: Diabetto food calculator
XB-Maemo-Display-Name: Diabetto

